<div class="page-header">
	<%= link_to("< Back to index", root_path) %>
	<h2><%= @question.title %></h2>
	<i>
		<%= @question.score %>pts
	</i>
</div>

<div class="question-content">
	
	<%= render :partial => "questions/question_content", locals: {content: @question.content.download} %>


	<%= image_tag @question.banner_image %>
	
	
	<hr>

	<% if @submissions_allowed %>
		<p>To begin, <%= link_to "get your input", question_input_path(@question.slug), target: "_blank" %>.</p>
		<%= form_with url: question_submissions_path(:question => @question, :question_slug => @question.slug), method: :post do |f| %>
			<p>Answer:</p> <%= f.text_area :result, placeholder: true, required: true %> <p><%= f.submit "Submit" %></p>
		<% end %>
	<% else %>
		You've already submitted a correct answer.
	<% end %>

	<%= link_to "See past submissions", question_submissions_path(@question.slug) %>
</div>