<div class="page-header">
	<h2>Registrants</h2>
</div>



<% if !@institution.students.blank? %>
	<table class="standard-table">
		<thead>
			<tr>
				<th>First Name</th>
				<th>Preferred First Name</th>
				<th>Middle Name</th>
				<th>Last Name</th>
				<th>Email</th>
				<th>Account Creation Timestamp</th>
			</tr>
		</thead>
		<tbody>
			<% for student in @institution.students %>
				<tr>
					<td><%= student.first_name %></td>
					<td><%= student.preferred_first_name %></td>
					<td><%= student.middle_name %></td>
					<td><%= student.last_name %></td>
					<td><%= student.email %></td>
					<td><%= student.created_at %></td>
				</tr>
			<% end %>
		</tbody>
	</table>
<% else %>
	No students from your institution have registered for CodeJam.
<% end %>
