<div class="page-header">
	<h2><%= resource_name.to_s.humanize %></h2>
</div>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
	<%= render "students/shared/error_messages", resource: resource %>

	
	
	
	
	<div class="field-category">
		<h3>About you</h3>
	</div>
	
	<div class="field">
		<%= f.label :first_name %><br />
		<%= f.text_field :first_name, required: true %><br />
		<%= f.label :preferred_first_name %><br />
		<%= f.text_field :preferred_first_name %><br />
		<%= f.label :middle_name %><br />
		<%= f.text_field :middle_name %><br />
		<%= f.label :last_name %><br />
		<%= f.text_field :last_name, required: true %>
	</div>
	
	<div class="field">
		<%= f.label :date_of_birth %><br />
		<%= f.date_field :date_of_birth %>
	</div>

	<div class="field">
		<%= f.label :gender %><br />
		<i>if the gender you identify with is not listed, please type it in</i><br>
		<%= f.text_field :gender, list: 'gender-options' %> 
		<datalist id="gender-options">
			<option value="Female">
			<option value="Male">
			<option value="Rather not say">
		</datalist>
	</div>
	
	
	
	<div class="field-category">
		<h3>Institution</h3>
	</div>
	
	<div class="field">
		You have connected your account with <b><%= current_student.institution.name %></b>. To change this, put in another institution's institution code below.
	</div>
	
	<div class="field">
		<%= f.label :institution_code %><br />
		<%= f.text_field :institution_id, required: true, id: "institution-code-input", maxlength: 14, value: current_student.institution.institution_code %>
		<script>
			var input = document.getElementById("institution-code-input");
			function hyphenate() {var str = input.value.replace(/-/g, '').match(/.{1,4}/g).join('-');input.value = str;}
			input.oninput = function () {hyphenate();}
			hyphenate();
		</script>
	</div>
	
	
	

	<div class="field-category">
		<h3>Account</h3>
	</div>

	<div class="field">
		<%= f.label :email %><br />
		<%= f.email_field :email, autofocus: true, autocomplete: "email" %>
	</div>

	<% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
		<div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
	<% end %>

	<div class="field">
		<%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
		<%= f.password_field :password, autocomplete: "new-password" %>
		<% if @minimum_password_length %>
			<br />
			<em><%= @minimum_password_length %> characters minimum</em>
		<% end %>
	</div>

	<div class="field">
		<%= f.label :password_confirmation %><br />
		<%= f.password_field :password_confirmation, autocomplete: "new-password" %>
	</div>
	

	
	</div>

	<div class="field-category">
		<h3>Current password</h3>
	</div>
	<div class="field">
		<%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
		<%= f.password_field :current_password, autocomplete: "current-password" %>
	</div>
	
	

	<div class="actions">
		<%= f.submit "Update" %>
	</div>
<% end %>

<div class="field-category">
	<h3>Cancel your registration</h3>
	<p>WARNING: ONLY CANCEL YOUR REGISTRATION IF YOU ARE SURE ABOUT YOUR DECISION!
</div>

<p>Cancelling your registration will have the following consequences:</p>
<ul>
	<li>All data associated with the institution will be deleted from CodeJam's database and will not be recoverable</li>
	<li>Registered students from your institution will not be able to participate unless they register with an another institution</li>
</ul>

<%= button_to "I understand the consequences, cancel my registration", registration_path(resource_name), data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete %>

